@media screen and (max-width: 1780px) {
  .quiz-wrap {
    .quiz-media{
      padding: 50px 50px 20px;
      &__item{
        height: 500px;
      }
    }
    .quiz-desc{
      padding: 50px 50px;
    }
    .quiz-reviews{
      padding: 0 50px;
    }
  }
  .quiz-media__item{
    &:last-of-type{
      img{
        object-fit: contain;
      }
    }
  }
}

@media screen and (max-width: 1440px) {
  .quiz-item{
    &__title{
      font-size: 38px;
      line-height: 44px;
      margin-bottom: 20px;
    }
    &__info{
      font-size: 16px;
      line-height: 28px;
      margin-bottom: 20px;
    }
    &__text{
      font-size: 18px;
      line-height: 28px;
      margin-bottom: 20px;
      p{
        font-size: 18px;
        line-height: 28px;
        margin-bottom: 20px;
      }
      blockquote{
        padding: 15px;
      }
    }
  }
  .reviews-item {
    &__title{
      width: calc(100% - 110px);
      span {
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
      }
    }
    &__label{
      font-size: 14px;
      line-height: 20px;
      width: 105px;
      margin-left: 10px;
    }
    &__top{
      width: calc(100% - 180px);
    }
    &__text{
      width: calc(100% - 180px);
      font-size: 16px;
      line-height: 20px;
    }
  }
  .btn-arrow{
    max-width: 280px;
    padding: 20px 28px;
    &:before, &:after{
      width: 40px;
      height: 40px;
    }
  }
  .btn-primary, .btn-secondary{
    padding: 20px;
    font-size: 16px;
  }
  .quiz-item__link{
    flex-wrap: wrap;

    button{
      margin-bottom: 10px;
    }
    .radio-item {
      margin-right: 10px;
      margin-bottom: 10px;
      label{
        line-height: 40px;
        width: 170px;
      }
    }
  }
  .checkbox-item{
    margin-bottom: 10px;
    label{
      font-size: 18px;
      line-height: 30px;
      padding-left: 30px;
      &:before, &:after{
        width: 20px;
        height: 20px;
        margin-top: -10px;
        top: 50%;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .quiz-wrap {
    .quiz-media__item{
      height: 410px;
    }
  }
  .reviews-item{
    &__title {
      span.verified{
        font-size: 16px;
        padding-left: 24px;
        margin-top: 0;
        &:before{
          background-size: cover;
          width: 20px;
          height: 20px;
          margin-top: -10px;
        }
      }
    }
    &__label{
      padding: 8px;
      max-width: 105px;
      width: 100%;
    }
    &__text,
    &__top{
      width: calc(100% - 140px);
    }
    &__media{
      height: 130px;
      max-width: 130px;
      img{
        height: 100%;
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .quiz-wrapper{
    overflow: visible;
  }
  .quiz-wrap{
    height: 100%;
    .quiz-media{
      width: 100%;
      padding: 30px 30px 15px;
      &__item{
        height: 500px;
        margin: 0 auto;
      }
    }
    .quiz-desc{
      width: 100%;
      border-radius: 15px;
      padding: 30px;
      margin-bottom: 15px;
    }
    .quiz-reviews{
      position: relative;
      bottom: auto;
      left: auto;
      width: 100%;
    }
  }
  .quiz-copy{
    display: none;
    &.bottom{
      text-align: center;
      display: block;
    }
  }
}
@media screen and (max-width: 768px) {
  .quiz-wrap{
    height: 100%;
    .quiz-media{
      width: 100%;
      padding: 15px;
    }
    .quiz-media__item {
      height: 400px;
    }
    .quiz-desc{
      padding: 20px;
    }
  }
  .quiz{
    &-logo{
      font-weight: 600;
      font-size: 11px;
      line-height: 1;
      margin-bottom: 15px;
    }
    &-item{
      &__title{
        font-weight: 500;
        font-size: 24px;
        line-height: 30px;
      }
      &__info{
        font-weight: 600;
        font-size: 11px;
        padding-left: 25px;
        line-height: 1;
        &:before{
          width: 15px;
          height: 15px;
          background-size: cover;
          margin-top: -7px;
        }
      }
      &__text{
        font-size: 14px;
        line-height: 21px;
        margin-bottom: 20px;
        p{
          font-size: 14px;
          line-height: 21px;
          margin-bottom: 20px;
        }
      }
    }
    &-step{
      margin-bottom: 20px;
      &__title{
        font-size: 12px;
        line-height: 1;
        margin-bottom: 15px;
      }
    }
    &-item{
      &__link{
        flex-wrap: nowrap;
        justify-content: space-between;
        .btn-primary{
          margin-right: 0;
          width: calc(50% - 10px);
        }
        .btn-secondary{
          width: calc(50% - 10px);
        }
        .btn-primary, .btn-secondary{
          font-size: 12px;
          padding: 18px 0;
        }
        .radio-item{
          width: calc(33.33333% - 5px);
          padding: 0;
          label{
            padding: 0;
            width: 100%;
            font-size: 12px;
            line-height: 48px;
          }
        }
      }
    }
  }
  .btn-arrow{
    max-width: 100%;
    font-size: 12px;
    line-height: 1;
    padding: 19px 20px;
    &:before, &:after{
      top: 5px;
    }
  }
  .quiz-copy{
    &.bottom{
      margin-top: 20px;
      font-weight: 400;
      font-size: 12px;
    }
  }
  .reviews-item{
    padding: 15px;
    border-radius: 15px;
    &__text{
      font-size: 14px;
    }
    &__media{
      left: 15px;
      top: 15px;
      padding-top: 0;
    }
    &__label{
      text-align: center;
      justify-content: center;
      font-size: 13px;
    }
    &__title{
      font-size: 14px;
      span{
        font-size: 14px;
      }
    }
  }
}
@media screen and (max-width: 576px) {
  .quiz-wrap {
    .quiz-reviews{
      padding: 0 15px;
    }
    .quiz-media__item {
      height: 290px;
    }
  }
  .quiz-media__item:last-of-type{
    display: none;
  }
  .quiz-item:last-of-type .btn-primary{
    max-width: 100%;
    padding: 18px 15px;
    width: 100%;
  }
  .reviews-item{
    &__top{
      min-height: 110px;
      flex-direction: column;
      justify-content: flex-start;
      width: calc(100% - 110px);
    }
    &__media{
      height: 100px;
      max-width: 100px;
    }
    &__title{
      width: 100%;
      ul{
        margin-bottom: 10px;
      }
    }
    &__label{
      margin-left: 0;
    }
    &__text{
      width: 100%;
    }
  }
}
