@media screen and (max-width: 1780px) {
  .quiz-wrap {
    .quiz-media{
      padding: 50px 50px 20px;
    }
    .quiz-desc{
      padding: 50px 50px;
    }
    .quiz-reviews{
      padding: 0 50px;
    }
  }
}