body {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6{
  font-family: $Gilroy;
}
section {
  position: relative;
  z-index: 1;
}
.hidden {
  display: none !important;
}
.clearfix {
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}
.icon {
  width: 20px;
  height: 20px;
}

a,
button,
input,
select,
textarea,
span,
.icon {
  transition: all 150ms ease;
}
button{
  cursor: pointer;
}
.btn-arrow{
  font-weight: 600;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 0.1em;
  color: #FFFFFF;
  text-align: left;
  width: 100%;
  max-width: 320px;
  padding: 30px 28px;
  background: #3E8945;
  border-radius: 15px;
  position: relative;
  &:before, &:after{
    position: absolute;
    content: '';
    width: 60px;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 10px;
    right: 12px;
  }
  &:before{
    background: #4B9C53;
    border-radius: 9px;
  }
  &:after{
    background-image: url("data:image/svg+xml,%3Csvg width='18' height='11' viewBox='0 0 18 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.687 6.11922L13.9 9.95352C13.6913 10.1649 13.4177 10.2705 13.1442 10.2705C12.8706 10.2705 12.5971 10.1649 12.3884 9.95352C11.971 9.53089 11.971 8.84569 12.3884 8.42306L14.3507 6.4362L1.96739 6.4362C1.37709 6.4362 0.89855 5.95168 0.89855 5.354C0.898551 4.75632 1.37709 4.2718 1.96739 4.2718L14.3507 4.2718L12.3884 2.28494C11.971 1.86231 11.971 1.17711 12.3884 0.754476C12.8058 0.331843 13.4825 0.331843 13.9 0.754476L17.687 4.58878C18.1043 5.01138 18.1043 5.69662 17.687 6.11922Z' fill='white'/%3E%3C/svg%3E%0A");
    background-position: center;
    background-repeat: no-repeat;
  }
}
.btn-primary, .btn-secondary{
  border-radius: 15px;
  width: 100%;
  padding: 30px;
  max-width: 320px;
  font-weight: 600;
  font-size: 17px;
  text-align: center;
  letter-spacing: 0.1em;
  color: #FFFFFF;
  &:hover{
    background: #CB2B43;
    color: #FFFFFF;
  }
}
.btn-primary{
  background: #3E8945;
}
.btn-secondary{
  background: #E6E9ED;
  color: #1C1C1C;
}
.radio-item{
  label{
    padding: 14px;
    width: 200px;
    font-weight: 600;
    font-size: 17px;
    line-height: 52px;
    display: inline-block;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #1C1C1C;
    background: #E6E9ED;
    border: 1px dashed #A0A6AF;
    border-radius: 15px;
    transition: all ease 300ms;
    &:hover{
      color: #FFFFFF;
      background: #3E8945;
      border: 1px solid #3E8945;
    }
  }
  input{
    opacity: 0;
    visibility: hidden;
    position: absolute;
    z-index: -1;
  }
}
.checkbox-item{
  margin-bottom: 20px;
  label{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 37px;
    cursor: pointer;
    display: flex;
    padding-left: 50px;
    position: relative;
    align-items: center;
    color: rgba(28, 28, 28, 0.7);
    transition: all ease 300ms;
    &:before,
    &:after{
      position: absolute;
      transition: all ease 300ms;
      content: '';
      width: 30px;
      height: 30px;
      left: 0;
      top: 0;
    }
    &:before{
      background: #E6E9ED;
      border: 1px solid rgba(160, 166, 175, 0.5);
      border-radius: 5px;
    }
    &:after{
      background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.80494 14.9458L7.87565 15.0165L7.94636 14.9458L16.8422 6.04992L16.9129 5.97921L16.8422 5.9085L15.9464 5.01266L15.8757 4.94195L15.8049 5.01266L7.87565 12.942L4.17553 9.24183L4.10482 9.17112L4.03411 9.24183L3.13827 10.1377L3.06756 10.2084L3.13827 10.2791L7.80494 14.9458Z' fill='white' stroke='white' stroke-width='0.2'/%3E%3C/svg%3E%0A");
      background-repeat: no-repeat;
      background-position: center;
      opacity: 0;
    }
  }
  input{
    opacity: 0;
    visibility: hidden;
    position: absolute;
    z-index: -1;
    &:checked{
      & + label{
        color: #1C1C1C;
        &:before{
          background: #3E8945;
        }
        &:after{
          opacity: 1;
        }
      }
    }
  }
}
.tab-item{
  visibility: hidden;
  position: absolute;
  left: -9999px;
  top: -9999px;
  margin-top: 50px;
  opacity: 0;
  transition: margin-top 0.7s ease, opacity 0.4s ease;
  &.active{
    visibility: visible;
    position: relative;
    left: 0;
    top: 0;
    margin-top: 0;
    opacity: 1;
  }
}